@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 200vh;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: black;
  width: 100%;
  height: auto;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 1.3rem;
  top: 0;
}

.navbar-item,
.navbar-item a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5px 0;
  gap: 10px;
  text-decoration: none;
  cursor: pointer;
}

.navbar-item:last-child {
  gap: 20px;
}

.navbar-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 8px;
  background-color: white;
  color: black;
}

.navbar-item ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 35px;
  width: 100%;
  height: 100%;
}

.navbar-item ul li {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 8px;
  padding: 0px 12px;
  transition: 0.3s ease;
}

.navbar-item ul li:hover {
  background-color: white;
  color: black;
}

/* Repair */
.navbar-item .sign-in {
  position: relative;
  background-color: white;
  padding: 6px 12px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.navbar-item .sign-in span {
  position: relative;
  background-color: white;
  color: black;
  padding: 0;
  border-radius: 0;
  z-index: 2;
  transition: 0.3s ease;
}

.navbar-item .sign-in:hover span {
  background-color: black;
  color: white;
}

.navbar-item .sign-in::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: black;
  color: white;
  border-radius: 8px;
  transition: 0.3s ease;
}

.navbar-item .sign-in:hover:after {
  width: 100%;
}
